@model IList<CopaFilmes.Web.Models.Movie.MovieView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="row div-header-default">
        @Html.Partial("_PartialFaseSelecaoHeader")
    </div>

    <form class="form" method="post" id="formGerarMeuCampeonato" action="@Url.Action("ResultadoFinal","CopaFilme")">
        <div class="row div-dados-fase-selecao">
            <div class="col-md-6">
                <p>Selecionados 0 de <text id="txtCount" disabled="true">0</text> filmes</p>
            </div>
            <div class="col-md-6">
                <input type="submit" id="btnGerarMeuCampeonato" name="btnGerarMeuCampeonato" class="btn-info" value="GERAR MEU CAMPEONATO" hidden="hidden" />
            </div>
        </div>

        @if (Model != null)
        {
            <div class="row">
                @for (int i = 0; i < Model.Count(); i++)
                {
                <div class="col-md-3">
                    @Html.Hidden(Model[i].Id, Model[i].AverageRating)
                    @Html.Hidden(Model[i].PrimaryTitle, Model[i].PrimaryTitle)
                    @Html.Label(Model[i].PrimaryTitle, Model[i].PrimaryTitle, new { @class = "form-group" })
                    <input type="checkbox" name="chkOption[]" class="countCheckBox" value="@Model[i].Id" />
                    <br />
                    @Html.Label(Model[i].Year, Model[i].Year, new { @class = "form-group" })
                </div>
                }
            </div>
        }

    </form>
</div>